<?xml version="1.0" encoding="UTF-8"?><!-- $Id: config.xml 2 2012-10-05 16:49:19Z mathias_lt $ --><config>	<fieldset		name="permissions"		label="JCONFIG_PERMISSIONS_LABEL"		description="JCONFIG_PERMISSIONS_DESC"	>		<field			name="rules"			type="rules"			label="JCONFIG_PERMISSIONS_LABEL"			class="inputbox"			validate="rules"			filter="rules"			component="com_osbit"			section="component"		/>	</fieldset></config>